#searhbox-container{
  background-image: url('/static/images/science_abstract.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hue-rotate-background {
  filter: hue-rotate(45deg);
}
.custom-range::-webkit-slider-thumb {
  background: red;
}

.custom-range::-moz-range-thumb {
  background: red;
}

.custom-range::-ms-thumb {
  background: red;
}